@font-face {
    font-family: 'bebas_neuebook';
    src: url('bebasneue_book-webfont.woff2') format('woff2'),
         url('bebasneue_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: "Roboto", sans-serif;
}

code,
pre {
    font-family: "Space Mono", monospace;
}

.caption {
    font-size: 12px;
    font-style: italic;
}

.navbar-brand {
    font-family: "bebas_neuebook";
    font-weight: bold;
    font-size: 1.75rem;
    color: #333333;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1,
h2,
h3 {
    font-family: "bebas_neuebook";
    color: #333333;
}

.bd-header {
    border-bottom: 1px solid #e5e5e5;
}

.bd-header.navbar {
    background-color: #ffffff;
}

.bd-header .navbar-nav > li > a,
.bd-header .navbar-nav .nav-link {
    color: #333333;
}

a {
    color: #9c1d1d;
    text-decoration: none;
}

a:hover {
    color: #ab5255;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #9c1d1d;
    background-color: #f1f1f1;
    border-radius: 2px;
}

.admonition.note {
    background-color: #789e6d;
    border-color: #789e6d;
    color: #ffffff;
}

.admonition.note a {
    color: #ffffff;
}

.admonition.warning {
    background-color: #ffba4c;
    border-color: #ffba4c;
    color: #ffffff;
}

.admonition.warning a {
    color: #333333;
}